{% extends "layou.html" %}
{% block title %}
index
{% endblock %}

 
{% block headline %}
{{title}}
{% endblock %}
<button class="m-1 btn btn-primary" style="width: 30cm;">Button primary</button>
{% block content %}
<button class="m-1 btn btn-primary" style="width: 30cm;">Button primary</button>
<button class="m-1 btn btn-secondary" style="width: 30cm;">Button secondary</button>
<button class="m-1 btn btn-success" style="width: 30cm;">Button success</button>
<button class="m-1 btn btn-danger" style="width: 30cm;">Button danger</button>
<button class="m-1 btn btn-warning" style="width: 30cm;">Button warning</button>
<button class="m-1 btn btn-info" style="width: 30cm;">Button info</button>
<button class="m-1 btn btn-light" style="width: 30cm;">Button light</button>
<button class="m-1 btn btn-link" style="width: 30cm; border-bottom:10px solid rgb(135, 250, 196);">Button link</button>
{% endblock %}
 
{% block footer %}

{% endblock %}
